<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>DataIFX</h2>
      <h4>Da Vivienda Corredores</h4>
    </div>
    <img src="https://api.dataifx.co:8010//sites/default/files/datalogo%402x.png" alt="DataIFX">
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Menu</h2>

  <mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</mat-list-item>
  <mat-list-item routerLinkActive="list-item-active" routerLink="/biometrics">Biometrics</mat-list-item>
  <mat-list-item routerLinkActive="list-item-active" routerLink="/customers">Customers</mat-list-item>
  <mat-list-item routerLinkActive="list-item-active" routerLink="/devolutions">Devolutions</mat-list-item>
  <mat-list-item routerLinkActive="list-item-active" routerLink="/products">Products</mat-list-item>

<div>
  profile
</div>

<mat-divider></mat-divider>



</mat-nav-list>


